.foodItemAction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.foodItemAction h2 {
  width: 30px;
}
.foodItem {
  text-decoration: none !important;
}
.foodItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #75757575;
  margin-bottom: 10px;
}
.foodItemIngredients {
  text-align: right;
  max-width: 100% !important;
  word-break: break-word;
  font-size: 12px;
  font-family: 'IranSans' !important;
}
.foodItemPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foodItemPrice img {
  width: 25px;
}
